#nextsteps {
   color: rgb(18, 1, 77);
}

.emphasized {
   font-size: 1.2em;
}


#header {
    background: url('img/aerial2.png') 50% / cover;
    height: auto;
    padding: 100px 100px
}
h1 {
    color: white;
    font-family: Arial;
    text-align: center;
}
a#download {
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 10px;
}

h2 {
font-family: "Garamond", serif;
}
h3 {
font-family: "Garamond", serif;
}

h4 {
font-family: "Garamond", serif;
}

ul,
ol,
dl,
li,
p{
      font-size: 1.1em;
}


a {
  color: darkred;
  font-weight: bold;
}

dd,
dt{
      font-size: 0.9em;
}
body {background-color: rgb(201, 218, 245);}